/.vscode
/fibonacci.exe
/GuessNumber.exe
/homework.exe
/Joseph.exe
/judge.exe
/Lucky.exe
/my_check.exe
/second_rank_pointer.exe
/srt.exe
/task1.exe
/Temperature.exe
/test.exe
/tianjisaima.exe
/uint64_t.exe
/Untitled-1.c
/Untitled-1.exe
/Zeno.exe